<%= form_for(@assignment, html: {multipart: true}) do |f| %>
<% if @assignment.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

  <ul>
    <% @assignment.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</div>
<div class="field">
  <%= f.label :description %><br>
  <%= f.text_area :description %>
</div>
<div class="field">
  <%= f.label :image, "Attach a New Image" %><br />
  <% if @assignment.image.exists? %>
  <%= image_tag @assignment.image.url %><br/>
  <% end %>
  <%= f.file_field :image %>
</div>
<div class="field">
  <%= f.label :estimated_completion_time %><br>
  <%= f.select(:estimated_completion_time, @completion_times) %>
</div>
<div class="field">
  <%= f.label :due_date %><br>
  <%= f.date_select(:due_date, default: 1.day.from_now) %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
