<% if current_user %>
<h1>Listing assignments</h1>

<table>
  <thead>
    <tr>
      <th>Homework</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
    <% @assignments.each do |assignment| %>
<<<<<<< HEAD
      
       <%= link_to assignment.title, assignment %>
    <% end %>
    </li>
    <li>
      <%= link_to 'New Assignment', new_assignment_path %>
    </li>
  </ul>
  

  <%= yield %>

</body>
</html>

  

=======
        <% if assignment.complete? %>
        <%= image_tag("complete.png") %>
        <% end %>
        <%= link_to assignment.title, assignment %>
        <% if !assignment.complete? %>
        <%= link_to "Complete",
              assignment_path(assignment,
              :assignment => { :complete => true}),
              :method => :put %>
        <% end %>
  <% end %>
>>>>>>> 42c68e62eb3a7de9b6b43b7c11694416cb0bfff5

<br>
<li>
<%= link_to 'New Assignment', new_assignment_path %>
</li>
<% end %>
