<h1>Homework Tracker</h1>

<img src="http://2.bp.blogspot.com/-G8rZkDcGBS0/UWsTf5ZiWrI/AAAAAAAAAEk/LEfSwIFBz30/s1600/keep-calm-and-do-your-homework-262.png" id = "img1">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2LI0vtM2C41GuyzsVH49nMj9ZguPMO3F7mqn-M3djG0LROd2Q" id = "img2">
<% if current_user %>

<ul id= "assignments">
  <span><h2>Assignments<button><%= link_to 'New Assignment', new_assignment_path %></button> 
  </h2></span>
  <% @assignments.each do |assignment| %>
  <li>
    <%= link_to assignment.title, assignment %>
    <% if assignment.complete? %>
    <%= image_tag("complete.png") %>
    <% end %>
    <% if !assignment.complete? %>
    <%= link_to "Complete",
    assignment_path(assignment,
      :assignment => { :complete => true}),
      :method => :put %>
      <% end %>
    </li>
    <% end %>
    <br>
<div id="schedule">
<% start = Time.now.change({:hour => 5 , :min => 0 , :sec => 0 }) %>
<% finish = Time.now.change({:hour => 5 , :min => 0 , :sec => 0 }) %>
<table>
<tr>
  <th>Start</th>
  <th>End</th>
  <th>Assignment</th>
</tr>
<p>Your Schedule For Today</p> 

<% Schedule.all.each do |schedule| %>

  <% if schedule.date == Date.today + 1.day %>
    <% schedule.assignments.each do |assignment| %>
    <% assignment_time = assignment.estimated_completion_time.split[0].to_i %>
    <% finish += assignment_time*60 %>
    <tr>
      <td><%= start.strftime("%l:%M") %></td>
      <td><%= finish.strftime("%l:%M") %></td>
      <td><%= assignment.title %><%= image_tag("complete.png") %></td>
    </tr>
    <% start = finish%>
    <% finish += 5*60 %>
    <tr>
      <td><%= start.strftime("%l:%M") %></td>
      <td><%= finish.strftime("%l:%M") %></td>
      <td>Break!</td>
    </tr>
    <% start = finish%>
    <% end %>
  <% end %>
<% end %>
</div>
</ul>
</table>


<% end %>