<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @assignment.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @assignment.description %>
</p>



<p>
  <strong>Due date:</strong>
  <%= @assignment.due_date %>
</p>

<%= image_tag @assignment.image.url %></br>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Destroy', @assignment, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', assignments_path %>
