<!DOCTYPE html>
<html>
<head>
  <title>HomeworkTracker</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <ul>
      <li>
        <% if current_user %>
        <span>Welcome, <%= current_user.name.split[0] %></span>
      </li>         

      <li>
        <%= link_to "Logout", logout_path, id: "login" %>
      </li>
      <% else %>
      <li>
        <span>Home</span>
      </li>
      
      <li>
        <%= link_to "Login", login_path, id: "logout" %>
        <% end %>
      </li>         

      <li>
        <a href="#tab2">Sign-Up</a>
        <ul>
          <li><label for="username">Username</label></li>
          <li><input type="text" alt="The username you chose when signing-up for
            the site." id="username" name="username">
          </li>
          <li><label for="username">Email</label></li>
          <li><input type="text" alt="The username you chose when signing-up for
            the site." id="username" name="username">
          </li>
          <li><label for="password">Password</label>
          </li>
          <li>                     
            <input type="text" alt="The password you chose when signing-up for
            the site." id="password" name="password"></li>
            <li><label for="password">Password Confirmation</label>
          </li>
          <li>                     
            <input type="text" alt="The password you chose when signing-up for
            the site." id="password" name="password"></li>
            <li><button>Submit</button></li>
          </ul>
        </li>         

      <li>
        <a href="#tab3">Forgot Password</a>
        <ul>
          <li>
            <input type="checkbox" id="rememberme" name="rememberme"> Remember Me</div>
          </li>
        </ul>
      </li>           

      <li>
        <a href="home.html">About</a>
      </li>         

      <li>
        <a href="#tab4">Contact</a>
      </li>         

      <li class="edges"> </li>              
    </ul>
  </nav>

        <%= yield %>

      </body>
      </html>


    