<!DOCTYPE html>
<html>
<head>
	<title>HomeworkTracker</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>

  <div id="tabs">
  <ul id="tabMenu">
      <li class="regular">
      <% if current_user %>
      <span>Welcome, <%= current_user.name %></span>
    </li>         
    <li class="dropdown">
          <%= link_to "Logout", logout_path, id: "login" %>
    <% else %>
    <%= link_to "Login", login_path, id: "logout" %>
    <% end %>
    </li>         
    <li class="dropdown">
      <a href="#tab2">Sign-Up</a>
    </li>         
    <li class="dropdown">
      <a href="#tab3">Forgot Password</a>
    </li>           
   <li class="regular">
    <a href="home.html">About</a>
  </li>         
  <li class="dropdown">
    <a href="#tab4">Contact</a>
  </li>         
  <li class="edges"> </li>              
</ul>
</div>

<div id="tabContainer">
  <ul id="tabPanes">     
	  <li id="tab1">
		  <p> </p>
			
<div class="formcontainer">

<div class="text">
  <label for="username">Username</label>                      
	<input type="text" alt="The username you chose when signing-up for
		the site." id="username" name="username">
</div>                                  

<div class="text">
  <label for="password">Password</label>                     
	<input type="text" alt="The password you chose when signing-up for
		the site." id="password" name="password">
</div>                                  
				
<div class="text">                      
  <input type="checkbox" id="rememberme" name="rememberme"> Remember Me</div>
</div>            

<center> 
  <div id="bluebutton" class="block">
    <button>Login</button> 
  </div>             
</center> 

<p> </p>
	</li> 
  </ul>
</div>

	<%= yield %>

</body>
</html>